# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - main

resources:
  - repo: self

variables:
  tag: "$(Build.BuildId)"
  aws_region: "us-east-1"
  # ECR Configuration - Auto-updated from Terraform Output
  ecr_registry: "975049943907.dkr.ecr.us-east-1.amazonaws.com"
  ecr_repository_uri: "975049943907.dkr.ecr.us-east-1.amazonaws.com/final-project-app"

stages:
  - stage: TestConnection
    displayName: Test Cluster Connection
    jobs:
      - job: TestAgent
        displayName: Verify Ephemeral Agent
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - script: |
              echo "Hello from the EKS Cluster!"
              echo "Hostname: $(hostname)"
              echo "User: $(whoami)"
              kubectl get nodes || echo "kubectl not authorized/installed on agent"
            displayName: "Run Verification Script"

  - stage: BuildAndPush
    displayName: Build and Push to ECR
    dependsOn: TestConnection
    jobs:
      - job: BuildAndPush
        displayName: "Build and Push to ECR"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - script: |
              echo "Logging into AWS ECR..."
              aws ecr get-login-password --region $(aws_region) | docker login --username AWS --password-stdin $(ecr_registry)
            displayName: "Login to ECR"

          - script: |
              echo "Building Docker Image..."
              cd final-project-nti/app
              docker build -t $(ecr_repository_uri):$(tag) .
              docker tag $(ecr_repository_uri):$(tag) $(ecr_repository_uri):latest
            displayName: "Build Image"

          - script: |
              echo "Pushing Docker Image to ECR..."
              docker push $(ecr_repository_uri):$(tag)
              docker push $(ecr_repository_uri):latest
            displayName: "Push Image"
