apiVersion: v1
kind: Service
metadata:
  name: final-project-app-svc
  namespace: default
spec:
  selector:
    app: final-project-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: final-project-app-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: final-project-app-svc
                port:
                  number: 80
